#mySelfie {
  background-color: rgba(150,0,150, .5);
  border-radius: 60px;
  text-align: center;
}
.myNose {
  text-align: center;
  color: white;
  font-weight: bold;

}
.myNose:hover {
  font-size: 106px;  

}
#myMouth {
  text-align: center;
  font-weight: bold;
  color: rgb(255,255,255);
  border: solid red 10px;
  border-radius: 55px;

}

button {
  padding: 40px;
  border: solid 10px;
  border-radius: 55px;
  background-color: rgba(0,100,100);
  margin: 50px;
}