body{
 /* background-color: black; */

font-family: 'Spartan';
}

img {
  width: 40vw;
  display: block;
}

img:hover {
  display: none;
}
p {
  /* color: white; */
  font-family: 'Trade Winds';

}

#theFlex {
  background-color: yellow;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  align-items: center;

}

.thisItem{
  padding: 3vw;
  margin: 2vh;
  background-color: pink;
  border-radius: 30px;
}

.thisItem:hover {
 background-color: white;

}